@using MarketOtomasyonSistemi.Models.Entity;
@model PagedList.IPagedList<TBLKATEGORİLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori ADi</th>
        <th>Sil</th>
        <th>Güncelle</th>
        
    </tr>
    <tbody>
        @foreach (var ktg in Model)
        {
            <tr>
                <th>@ktg.KATEGORIID</th>
                <td>@ktg.KATEGORIAD</td>
                <td><a href="/Kategori/Sil/@ktg.KATEGORIID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Kategori/KategoriGetir/@ktg.KATEGORIID" class="btn btn-warning">Güncelle</a ></td>
        
            </tr>
        }
    </tbody>
</table>
<a href="/Kategori/Ekle" class="btn btn-primary">Kategori Ekle</a>
